/* ==================================
table of contents
==================================
1. Header Design
2. Buttons & icons
3. modal == pop up
4. Responsive Design(media query)
*/


/* 1. Header Design */
header.flex{
    justify-content: space-between;
    padding: 0 2.4rem;
    margin-top: 1.2rem;
}
header.flex nav{
    background-color: var(--bgHeader);
    padding: 0.77rem 1.6rem;
    border-radius: 55px;
    box-shadow: 1px 1px 30px rgba(87, 83, 83, 0.542);
}
header ul{
    gap: 16px;
}
header ul li a{
    color: var(--title);
    opacity: 0.8;
    font-size: 0.88rem;
    font-weight: 500;
}
header ul li a:hover{
    color: var(--blue);
    opacity: 1;
    font-size: 0.9rem;
}
header button{
    font-size: 1.2rem;
}
header .menu{
    display: none;
}


/* 2. Buttons & icons */
header .icon-menu,
header button.mode {
    background-color: var(--bgHeader);
    width: 2.4rem;
    height: 2.4rem;
    text-align: center;
    border-radius: 50%;
    color: var(--subtitle);
    border: 1px solid rgba(161, 151, 138, 0.404);
    transition: 0.2s;
    box-shadow: 1px 1px 40px rgba(35, 35, 36, 0.165);
}
header .icon-menu:hover,
header button.mode:hover {
    color: var(--title);
    border: 1px solid rgb(228, 173, 19);
}

header .icon-sun {
    color: orange;
}
header .icon-close{
    background-color: transparent;
    border: none;
    color: var(--subtitle);
    font-size: 1.2rem;
    transition: 0.5s;
}
header .icon-close:hover {
    font-size: 1.4rem;
    color: crimson;
    rotate: 180deg;
}


/* 3. modal == pop up */
header .fixed{
    position: fixed;
    /* top: 0;
    bottom: 0;
    left: 0;
    right: 0;   === inset=0 */
    inset: 0;
    z-index: 1000;
    background-color: rgba(53, 53, 78, 0.729);
    backdrop-filter: blur(4px);
}
@keyframes moveModal {
    0% {scale: 0;}

    60% {scale: 1.2;}

    100% {scale: 1;}
}
header .fixed ul.modal{
    animation: moveModal 0.77s 1;
    background-color: var(--secondary);
    padding: 1rem 2rem;
    border-radius: 1rem;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}
header .fixed ul.modal li{
    border-bottom:1px solid var(--border);
    padding-bottom: 0.77rem;
    padding-top: 0.5rem;
}
header .fixed ul.modal li a{
    font-size: 1rem;
}
header .fixed ul.modal li:first-child{
    text-align: right;
    border: none;
    padding-bottom: 0;
    padding-top: 0.2rem;
    margin-bottom: -1rem;
}
header .fixed ul.modal li:last-child{
    border-bottom: none;
}

/* 4. Responsive Design(media query) */
@media(max-width: 700px){
    header.flex nav{
        display: none;
    }
    header .menu{
        display: block;
    }
}